<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dealer Image Pro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>14A68E931CC17C71008671DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14A68EAF1CC17C71008671DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14A68EBA1CC17C71008671DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
